.banks-page-desc {
  width: 100%;
  display: inline-block;
  color: var(--second-text-color);
  font-size: var(--large-font);
  margin-top: 16px;
  line-height: var(--first-line-height);
  text-align: justify;
  text-align-last: start;
}

.banks-page-search {
  margin-top: 120px;
}

.banks-page-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 240px;
  width: calc(100% + 24px);

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.banks-page-list-item {
  background-color: var(--box-color);
  box-shadow: var(--first-shadow);
  border-radius: var(--second-radius);
  padding: 24px;
  margin-inline-end: 24px;
  margin-bottom: 24px;
  width: 350px;
  flex-grow: 1;

  &.hidden {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow: none;
  }

  @media screen and (max-width: 480px) {
    margin-inline-end: 0;
    max-width: 100%;
  }
}

.banks-page-list-item-header {
  display: flex;
  align-items: center;
}

.banks-page-list-item-header-logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border: 1px solid var(--first-border-color);
  border-radius: var(--first-radius);
  margin-inline-end: 16px;

  img {
    padding: 16px;
    border: none;
  }
}

.banks-page-list-item-content-title {
  color: var(--third-text-color);
  font-family: "my-font-bold", serif;
  font-size: var(--huge-font);
}

.banks-page-list-item-content-desc {
  color: var(--third-text-color);
  font-size: var(--big-font);
}

.banks-page-list-btn {
  border-radius: var(--first-radius);
  margin-top: 16px;
  flex-direction: column;
  align-items: flex-start;
  transition: height var(--first-transition), font-size var(--first-transition);

  &.chart {
    font-size: var(--regular-font);
  }
}

.banks-page-list-btn-content {
  overflow: hidden;
  padding: 0 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--big-font);
  height: 100%;
  transition: height var(--first-transition), opacity var(--first-transition);

  &.hide {
    opacity: 0;
    height: 0;
  }
}

.banks-page-list-btn-content-score {
  direction: ltr;
  display: inline-block;

  &.margin {
    margin-inline-end: 4px;
  }
}

.banks-page-list-btn-icon {
  width: 16px;
  height: 16px;
}

.banks-page-list-item-chart {
  overflow: hidden;
  direction: ltr;
  background-color: var(--first-text-color);
  transition: height var(--first-transition), opacity var(--first-transition);

  p {
    color: var(--first-color);
  }

  &.hide {
    opacity: 0;
  }
}