@import "../seyed-modules/styles/index";

@import "common";
@import "animations";
@import "input";
@import "header";
@import "footer";
@import "banks-page";
@import "bank-page";
@import "indicator-page";
@import "panel-login";
@import "panel-side";
@import "panel-dashboard";
@import "ranking";

body {
  background-color: var(--first-background-color) !important;
}

@font-face {
  font-family: "my-font";
  src: url("../media/fonts/dana-fanum-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "my-font-demibold";
  src: url("../media/fonts/dana-fanum-demibold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "my-font-bold";
  src: url("../media/fonts/dana-fanum-bold.woff2") format("woff2");
  font-display: swap;
}